.lead__image{
    min-width: 100%;
    height: 615px;
}
@media screen and (max-width: 760px){

    .lead__image{
        height: 480px;
     }
}


@media screen and (max-width: 420px){

  .lead__image{
    height:200px;   
 }
}