.lead__image{
  max-width: 100%;
}

@media screen and (max-width: 1024px){
  .lead__image{
  width: 928px;
  }
}
@media screen and (max-width: 768px){

    .lead__image{
      height: 480px;
     }
}


@media screen and (max-width: 420px){

  .lead__image{
    height:200px;   
 }
}