.lead__image{
  background-image: url(../../../images/lead-polka.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  width: 984px;
  height: 615px;
  max-height: 100%;

}

@media screen and (max-width: 1024px){
  .lead__image{
  width: 928px;
  height: 580px;
  }
}
@media screen and (max-width: 760px){

    .lead__image{
      max-width:100%;
      height: 480px;
     }
}

@media screen and (min-width: 421px) and (max-width: 759px){
  
}

@media screen and (max-width: 420px){

  .lead__image{
    height:200px;   
 }
}