html{
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.page{
    margin:auto;
    max-width: 100%;
    font-family: 'Inter', 'Arial', 'sans-serif';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background: #2A2C2F;
    color: white;
    overflow: hidden;
}

.header{
    margin: auto;
    padding-top: 28px;
    padding-bottom: 56px;
    width: 92.5%;
    /*
    width: calc(100% - 96px);
    */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.header__logo{
    width: 176px;
}

.header__lang-link{
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5;
    color: white;
    display: flex;
    gap:18px;
    
}

.header__lang-link-underline{
    text-decoration: underline;
}

.lead{
    /*
    width: calc(100% - 296px);
    */
    width: 78.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title{
    margin: 0;
    width: 100%;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 5.3rem;
    line-height: 5.5rem;
    text-align: center;
}

.lead__subtitle{
    margin: 32px 0 64px;
    width: 100%;
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
}

.lead__image{
    min-width: 100%;
    height:615px ;
    
}

.lead__caption{

    width: 159px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 0.7;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: start;
    
}

.intro{
    /*width: calc(100% - 296px);*/
    width: 78.5%;
    margin: 92px auto ;
    display: flex;
    flex-direction: column;
}

.intro__title{
    margin: 0;
    width: 100%;
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.2rem;

}

.intro__text{
    margin: 40px 0 32px;
    width: 100%;
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
}

.intro__list{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 690px;
    list-style-type: none; 
    font-style: normal;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 1rem;
}

.intro__list-light{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
}

.photo-grid{
    width: 92.5%;
    height: 671px;
    margin: auto;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px 16px;
}

.photo-gird__item{
    width: 100%;
    height: 100%;
    max-height: 213px;
    object-fit: cover;
}

.places{
    /*width: calc(100% - 296px);*/
    width: 76.8%;
    margin:92px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.place{
    display: grid;
    grid-template-columns:repeat(minmax(min-content, max-content),1fr);
    grid-template-rows: repeat(minmax(min-content, max-content),1fr);
    column-gap: 40px;
    grid-template-areas: 
    "title  website"
    "image paragraph-top"
    "image paragraph-bottom"
    "image .";
    
}



.place__title{
    margin:0;
    margin-bottom: 3rem;
    grid-area: title;
    width: 100%;
    max-width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.2rem;
}

.place__image{
    grid-area: image;
    width: 100%;
    height: 100%;
    max-height: 460px;
    object-fit: cover;
}

.place__website{
    grid-area: website;
    align-self: center;
    
}

.place__url-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height:  0.75rem;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__link{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4rem;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity 0.5s linear;
}

.place__link:hover{
    opacity: 0.8;
}

.place__paragraph-top{
    margin: 0;
    grid-area: paragraph-top;
    width: 100%;
    max-width: 484px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph-bottom{
    margin: 0;
    margin-top: 24px;
    grid-area: paragraph-bottom;
    width: 100%;
    max-width: 484px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;

}

.cover{
    min-width: 92.5%;
   /* width: calc(100% - 96px);*/
    height: 740px;
    margin: auto;
    background-image: url(/images/cover-trains.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s linear;
    margin-bottom: 92px;
}

.cover:hover{
    opacity: 0.5;
 
}
    
.cover__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.2rem;
    text-align: center;

}

.cover__subtitle{
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;

}

.footer{
    width: 92.5%;
    /*width: calc(100% - 96px);*/
    margin: 0 auto;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(5, min-content) 1fr ;
    column-gap: 18px;
}
.footer:nth-child(5){
    gap:0;
}

.footer__link{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0,9rem;
    line-height: 1rem;
    transition: opacity 0.5s linear;
}
.footer__link:hover{
    opacity: 0.5;
}

.footer__copyright{
    justify-self: end;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

@media screen and (max-width: 1024px) {
    .lead{
        width: 90.63%;
    }

    .intro{
        width: 90.63%;
    }


    .photo-grid{
        width:90.63%;
        grid-gap: 14px 14px;
        grid-template-columns: repeat(3, 1fr);
    }

    .photo-gird__item{
        max-height: 225px;
    }

    .places{
        width:90.63%;
    }

    .place{
        column-gap: 32px;
    }
    .places__title{
        max-width:440px;
    }
    .place__image{
        max-width: 440px;
    }
    .place__paragraph-top{
        max-width: 456px;
    }
    .place__paragraph-bottom{
        max-width: 456px;
    }

    .cover{
        min-width: 100%;
        height: 640px
    }

    .footer{
        width:90.63%;
    }
}

@media screen and (max-width: 760px){
    .html{
        font-size: 14px;
    }
    .header{
        width:93.75%;
    }
    .lead{
        width:93.75%;
    }

    .lead__image{
        height: 480px;
     }

    .intro{
        width:93.75%;
        margin: 88px auto;
    }

    .intro__title{
        width:720px;
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .intro__text{
        max-width:720px;

    }
    .intro__list{
        max-width:720px;
    }

    .photo-grid{
        width:93.75%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px 16px;
        height: 1664px;

    }
    .photo-gird__item{
        max-height:264px;
    }

    .places{
        width:93.75%;
        margin: 88px auto;
        column-gap: 28px;
    }

    .place__title{
        max-width: 340px;
        margin-bottom: 3.4rem ;
        font-size: 3rem;
        line-height: 3.4rem;

    }

    .place__image{
       height: 480px;
    }

    .place__paragraph-top{
        max-width: 352px;
        font-size: 16px;
    }

    .place__paragraph-bottom{
        max-width: 352px;
        font-size: 16px;
    }

    .cover{
        min-width:93.75%;
        height: 480px;
        margin-bottom: 88px;
    }

    .footer{
        width: 93.75%;
    }
    .footer__link{
        font-size: 0.9rem;
    }
    .footer__copyright{
        font-size: 1rem;
        line-height: 0.9rem;
    }
}

@media screen and (min-width: 420px) and (max-width: 759px){
    .lead__title{
        width: 100%;
        font-size: 50px;
        line-height: 54px;
      }
      
    .intro__title{
        width: 100%;
        max-width: 500px;
}
    .footer__link{
        font-size: 10px;
        line-height: 10px; 
    }
    .footer__copyright{
        font-size:  10x;
        line-height:  10px;
}

}

@media screen and (max-width: 420px){
    .header{
        width: 90%;
  }
  .header__logo{
    width: 142px;
  }
  .lead{
      width: 100%;
  }
  .lead__title{
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle{
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin: 16px auto 40px;
  }
  .lead__image{
    height:200px ;
    
}
    .lead__caption{
        margin-left: 5%;

}

.intro{
    margin: 64px auto;
    width: 90%;
}


.intro__title{
    max-width: 288px;
    font-size: 2.3rem;
    line-height: 2,5rem;
}

.intro__text{
    max-width: 288px;
}

.intro__list{
   max-width: 288px;
 }

 .photo-grid{
     width: 90%;
     height: 2724px;
     grid-template-columns: repeat(1, 1fr);
     gap: 12px;
 }

 .place{
    row-gap: 32px;
    grid-template-areas: 
    "title "
    "image "
    "paragraph-top"
    "paragraph-bottom";
    column-gap:0;
    row-gap: 32px;
    
 }

 .place__title{
     max-width: 288px;
     font-size: 2.3rem;
    line-height: 2.5rem;
    margin: 0;
    
 }
 .place__image{
    height: 320px;
 }
 .place__website{
     display: none;
     }
     .place__paragraph-top{
        max-width: 288px;
     }

     .place__paragraph-bottom{
        max-width: 288px;
     }

     .cover{
        width: 320px;
        height: 200px;
        gap:16px;
     }

     .cover__title{
         margin: 0;
         max-width: 288px;
         font-size: 2.2rem;
         line-height: 2.5rem;

     }
     .cover__subtitle{
         max-width: 288px;
         font-size: 14px;
         line-height: 16px;

 }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

        .footer__link{

            font-size: 24px;
            line-height: 24px; 
        }
    .footer__copyright{
        max-width: 186px;
        margin-top: 16px;
        font-size:  1rem;
        line-height:  1rem;
    }
}