html{
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.page{
    margin: 0 auto;
    width:1280px;
    font-family: 'Inter', 'Arial', 'sans-serif';
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    background: #2A2C2F;
    color: white;
    overflow: hidden;
}

.header{
    margin: auto;
    padding-top: 28px;
    padding-bottom: 56px;
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    

}

.header__logo{
    width: 176px;
}

.header__lang-link{
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.5;
    color: white;
    display: flex;
    gap:18px;
    
}

.header__lang-link-underline{
    text-decoration: underline;
}

.lead{
    width: calc(100% - 296px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title{
    margin: 0;
    width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 5.3rem;
    line-height: 5.5rem;
    text-align: center;
}

.lead__subtitle{
    margin: 32px 0 64px;
    width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
}

.lead__caption{

    width: 159px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 0.7;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: start;
    
}

.intro{
    width: calc(100% - 296px);
    margin: 92px auto ;
    display: flex;
    flex-direction: column;
}

.intro__title{
    margin: 0;
    width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.2rem;

}

.intro__text{
    margin: 40px 0 32px;
    width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
}

.intro__list{
    margin: 0;
    padding: 0;
    width: 690px;
    list-style-type: none; 
    font-style: normal;
    font-weight: bold;
    font-size: 0.6rem;
    line-height: 1rem;
}

.intro__list-light{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
}

.photo-grid{
    width: calc(100% - 96px);
    margin: auto;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 16px;
}

.photo-gird__item{
    object-fit: cover;
}