.photo-grid{
    width: 92.5%;
    margin: auto;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid{
        width:90.63%;
        grid-gap: 14px 14px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .photo-grid{
        width:93.75%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        
    }
}

@media screen and (max-width: 420px){
 .photo-grid{
     width: 90%;
     grid-template-columns: repeat(1, 1fr);
     gap: 12px;
     margin-bottom: 0;
 }
}