.header__lang-links{
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    gap:18px;
    list-style-type: none;
}
@media screen and (max-width: 430px){
    .header__lang-links{
    font-size: 18px;
    line-height: 20px;
    margin-top: 14px;
  }
}