.footer__copyright{
    justify-self: end;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.9rem;
}
@media screen and (max-width: 760px){
    .footer__copyright{
        font-size: 1rem;
        line-height: 0.9rem;
    }
}

@media screen and (min-width: 420px) and (max-width: 759px){
    .footer__copyright{
        font-size:  10px;
        line-height:  10px;
    }
}

@media screen and (max-width: 420px){
    .footer__copyright{
        max-width: 186px;
        margin-top: 16px;
        font-size:  1rem;
        line-height:  1rem;
    }
}