.footer{
    width: 92.5%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(5, min-content) 1fr ;
    column-gap: 18px;
}
.footer:nth-child(5){
    gap:0;
}

@media screen and (max-width: 1024px) {
    .footer{
        width:90.63%;
    }
}
@media screen and (max-width: 760px){
    .footer{
        width: 93.75%;
    }
}

@media screen and (max-width: 420px){
    .footer{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}