.cover__title{
    margin: 0;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    position: relative;
    z-index: 3;
}

@media screen and (max-width:535px){
    .cover__title{
        font-size: 50px;
        line-height: 55px;
    }
}

@media screen and (max-width: 420px){
     .cover__title{
         max-width: 288px;
         font-size: 32px;
         line-height: 35px;
     }
}