.lead{
    width: 78.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .lead{
        width: 90.63%;
    }
}
@media screen and (max-width: 760px){
    .lead{
        width:93.75%;
    }
}

@media screen and (max-width: 420px){

  .lead{
      width: 100%;
  }
}