.cover__background{
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url(../../../images/cover-trains.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}
.cover__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition:  0.5s linear;
 }

.cover__background:hover::before{
    opacity: 0.8;
}
@media screen and (max-width: 420px){
.cover__background{
    width: 100%;
}
}