.intro{
    width: 78.5%;
    margin: 92px auto ;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .intro{
        width: 90.63%;
    }
}

@media screen and (max-width: 760px){
    .intro{
        width:93.75%;
        margin: 88px auto;
    }
}

@media screen and (max-width: 420px){
.intro{
    margin: 64px auto;
    width: 90%;
  }
}