.places{
    width: 76.8%;
    margin:92px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places{
        width:90.63%;
    }
}

@media screen and (max-width: 768px){
    .places{
        width: 93.45%;
        margin: 88px auto;
        column-gap: 28px;
    }
}

@media screen and (max-width: 320px){
    .places{
        width: 100%;
        gap: 48px;
        margin-top: 64px;
        margin-bottom: 66px;
    }
}