.place__title{
    margin:0;
    margin-bottom: 3rem;
    grid-area: title;
    width: 100%;
    max-width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4.2rem;
}

@media screen and (max-width: 760px){
    .place__title{
        max-width: 340px;
        margin-bottom: 3.4rem;
        font-size: 3rem;
        line-height: 3.4rem;
    }
}

@media screen and (max-width: 420px){
 .place__title{
     max-width: 288px;
     font-size: 2.3rem;
    line-height: 2.5rem;
    margin: 0;
 }
}